a
	{
	color:#444;
	font-size:1.25em;
	}

a:hover
	{
	color:#17B890;
	font-size:1.5em;
	}

body
	{
  	background-color: #5E807F !important;
  	color: #082D0F !important;
  	margin: 0;
	}

h1
	{
	font-size:2em;
	margin-bottom:0px;
	}

h2
	{
	font-size:1em;
	margin-bottom:0px;
	}


h3
	{
	font-size:1.65em;
	margin:0px;
	}

h4
	{
	margin-bottom:0px;
	}

table
	{
	width:100%;
	border: 3px solid #082D0F;
	border-radius:5px;
	}

th
	{
	color:#DEE5E5;
	height:2em;
	font-size:1.5em;
	background-color: #5E807F;
	}

td
	{
	padding:.5em;
	}

tr:hover
	{
	background-color: #17B890;
	}

tr a
	{
	font-size:1em;
	color:#082D0F;
	}

tr a:hover
	{
	font-size:1em;
	color:#DEE5E5;
	}

.bugTableRowA
	{
	background-color: #9DC5BB;
	}

.bugTableRowB
	{
	background-color: #DEE5E5;
	}

.bugLayout
	{
  	display: grid;
	grid-template-columns: auto auto;
	}

.bugLayout input
	{
	width: 100%;
	}

.bugForm
	{
  	display: grid;
	grid-template-columns: 20% 50%;
	}

.bugFormInput
	{
  	text-align: right;
	padding:.25em;
	}

.bugFormInputA
	{
	padding:.25em;
	}

.bugInfo
	{
	margin:.5em;
	}

.bugInfo textarea
	{
	width:50%;
	height:10em;
	}

.comment
	{
  	background-color: #9DC5BB;
	border: 5px solid #5E807F;
	border-radius:5px;
	width:50%;
	padding:1em;
	margin:.5em;
	}

.comment h4
	{
	margin:0.25em;
	}

.header
	{
  	background-color: #DEE5E5;
	border-bottom: 3px solid #082D0F;
	text-align: center;
	padding:1em;
	margin:0px;
	}


.modal-mask
	{
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	display: table;
	transition: opacity .3s ease;
	}

.modal-wrapper
	{
	display: table-cell;
	vertical-align: middle;
	}

.modal-container
	{
	min-width: 20em;
	max-width: 50%;
	margin: 0px auto;
	padding: 1em;
	background-color: #DEE5E5;
	border: 5px solid #082D0F;
	border-radius:5px;
	transition: all .3s ease;
	}

.modal-container textarea
	{
	width:95%;
	height:10em;
	}

.navigationbar
	{
	margin:0px;
	text-align: center;
	height: 2em;
	width: 100%;
  	background-color: #9DC5BB;
	border-bottom: 3px solid #082D0F;
	}

.navigationbar ul
	{
	margin:0px;
	padding:0px;
	}

.navigationbar li
	{
	text-decoration: none;
	float: left;
	display: block;
	padding:.35em;
	margin-bottom:0px;
	margin-left:.45em;
	margin-right:.45em;
	}

.navigationbar li a
	{
	font-size:1.25em;
	height:100%;
	color: #082D0F;
	border-radius: 5px;
	}

.navigationbar li a:hover
	{
	color:#17B890 !important;
  	background-color: #DEE5E5;
	border-top: .45em solid #DEE5E5;
	border-bottom: .5em solid #082D0F;
	border-radius: 5px;
	}

.login
	{
  	text-align: center;
	display: block;
	margin-top:2em;
	margin-left: auto;
	margin-right: auto;
	width:25%;
  	background-color: #DEE5E5;
	border: 5px solid #082D0F;
	border-radius:5px;
	}

.list
	{
	margin:1em;
	padding:.5em;
	border: 5px solid #082D0F;
	border-radius:5px;
	background-color: #DEE5E5 !important;
	}

.version input
	{
	width:3em !important;
	padding:.25em;
	margin: .25em;
	}
