<html>
<head>
	<title>Bugger</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<div class = "header">
	<h1>BUGGER<h1>
	<h2>- Bugtracking Program - </h2>
	</div>

	<div class = "navigationbar" id = "navigationBar">
		<ul>
			<li v-for="item in barItems">
				<a v-bind:href="item.url">{{item.text}}</a>
			</li>
			<li>
			<a @click="LogOut()" href="/">Logout</a>
			</li>
		</ul>
	</div>

	<div class = "list" id="bugApp">
		<h3>Bug #{{bugID}}</h3>
		<hr>
		<form @submit.prevent="UpdateBug()">
			<div class = "bugLayout">

				<div class = "bugInfo">

					<h4>Naming:</h4>
					<hr>
					<div class = "bugForm">
						<div class = "bugFormInput">
							Bug Nickname:
						</div>
						<div class = "bugFormInput">
							<input placeholder="Enter a nickname for the bug" v-model="bug.bugNickname">
						</div>
					</div>

					<h4>Contact Info:</h4>
					<hr>
					<div class = "bugForm">
						<div class = "bugFormInput">
							Reporter Contact:
						</div>
						<div class = "bugFormInput">
							<input placeholder="Contact that reported the bug" v-model="bug.emailReport">
						</div>
						<div class = "bugFormInput">
							Bug Primary Contact:
						</div>
						<div class = "bugFormInput">
							<input placeholder="Primary engineer assigned to fix" v-model="bug.emailPrimary">
						</div>
						<div class = "bugFormInput">
							Bug Secondary Contact:
						</div>
						<div class = "bugFormInput">
							<input placeholder="Secondary engineer assigned to fix" v-model="bug.emailSecondary">
						</div>
						<div class = "bugFormInput">
							Bug QA Contact:
						</div>
						<div class = "bugFormInput">
							<input placeholder="Primary QA tester" v-model="bug.emailQA">
						</div>
					</div>
				</div>

				<div class = "bugInfo">
				<h4>Project Information:</h4>
				<hr>
					<div class = "bugForm">
						<div class = "bugFormInput">
						Project:
						</div>
						<div class = "bugFormInputA">
							<select v-model="bug.project">
								<option v-for="project in projects" v-bind:value="project.projectName">
								{{project.projectName}}
								</option>
							</select>
						</div>
						<div class = "bugFormInput">	
							Version Found In:
						</div>
						<div class="version">
							<input v-model="bug.ver1"> .
							<input v-model="bug.ver2"> .
							<input v-model="bug.ver3"> .
							<input v-model="bug.ver4">
						</div>
					</div>
				</div>

				<div class = "bugInfo">
				<h4>Bug Status:</h4>
				<hr>
					<div class = "bugForm">
						<div class = "bugFormInput">
							Created On:
						</div>
						<div class = "bugFormInputA">
							<i>{{bug.created}}</i>
						</div>
						<div class = "bugFormInput">
							Last Modified on:
						</div>
						<div class = "bugFormInputA">
							<i>{{bug.modified}}</i>
						</div>
						<div class = "bugFormInput">
							Bug Status:
						</div>
						<div class = "bugFormInputA">
							<select v-model="bug.status">
							  <option value="New">New</option>
							  <option value="Can't Reproduce">Can't Reproduce</option>
							  <option value="On Hold">On Hold</option>
							  <option value="Fix in Progress">Fix in Progress</option>
							  <option value="Fixed">Fixed</option>
							</select>
						</div>
						<div class = "bugFormInput">
							Current Priority:
						</div>
						<div class = "bugFormInputA">
							<select v-model="bug.priority">
							  <option value="Low">Low</option>
							  <option value="Medium">Medium</option>
							  <option value="High">High</option>
							  <option value="Imediate">Imediate</option>
							</select>
						</div>
					</div>
				</div>

				<div class = "bugInfo">
					<h4>Bug Discription:</h4>
					<hr>
					<textarea name="message" placeholder="Describe the bug" v-model="bug.discription"></textarea>
				</div>

			</div>
		<button  type="submit" type="button">Save Changes</button>
		</form>

		<div class = "comments">
			<h4>Comments</h4>
			<hr>
			<div class = "bugInfo">
				<form @submit.prevent="SendComment()">
					<textarea v-model="newComment" placeholder="Enter New Comment"></textarea>
					<br><button>Save Comment</button>
				</form type="submit" type="button">
			</div>
			<div class="comment" v-for="comment in bug.comments"> <h4>- {{comment.usersName}} on {{comment.date}}: </h4> {{comment.comment}} </div>
		</div>
	</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
  <script src="/javascript/navigationbar.js"></script>
  <script src="/javascript/bug.js"></script>
  <script src="/javascript/bugApp.js"></script>
</body>

</html>
