<html>
<head>
	<title>Bugger</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<div class = "header">
		<h1>BUGGER<h1>
		<h2>- Bugtracking Program - </h2>
	</div>

	<div class = "navigationbar" id = "navigationBar">
		<ul>
			<li v-for="item in barItems">
				<a v-bind:href="item.url">{{item.text}}</a>
			</li>
			<li>
			<a @click="LogOut()" href="/">Logout</a>
			</li>
		</ul>
	</div>

	<div id = "projectList">
		<div class = "list">
			<h3>Current Projects</h3>
			<hr>
			<ul>
				<li v-for="project in projects">
					<a href ="">{{project.projectName}}</a>
					<ul>
						<li>ProjectID: {{project._id}}</li>
						<li>Bugs : {{project.bugs.length}} </li>
						<li>{{project.projectDisc}}</li>
					</ul>
				</li>
			</ul>
			<button @click="ToggleForm">Create New Project</button>
		</div>

		<transition v-if="createProjectMenu" name="modal">
			<div class="modal-mask">
				<div class="modal-wrapper">
					<div class="modal-container">
						<h3>Create New Project</h3>
						<hr>
						<p v-if="error" class="error">{{error}}</p>
						<form @submit.prevent="CreateProject">
							New Project Name: <input v-model="newProjectname">
							<br>
							<h4>Project Discription:</h4>
							<textarea name="message" placeholder="Describe the project" v-model="newProjectDisc"></textarea>
							<br>
							<button  type="submit" type="button">Create Project</button>
							<button @click="ToggleForm" type="button" class="close">Close</button>
						</form>
					</div>
				</div>
			</transition>
		</div>
	</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
  <script src="/javascript/navigationbar.js"></script>
  <script src="/javascript/projectListApp.js"></script>
</body>

</html>
