<html>
<head>
	<title>Bugger</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<div class = "header">
		<h1>BUGGER<h1>
		<h2>- Bugtracking Program - </h2>
	</div>

	<div class = "navigationbar" id = "navigationBar">
		<ul>
			<li v-for="item in barItems">
				<a v-bind:href="item.url">{{item.text}}</a>
			</li>
			<li>
			<a @click="LogOut()" href="/">Logout</a>
			</li>
		</ul>
	</div>


	<div class = "list" id="userApp">
		<h3>User Preferences</h3>
		<hr>
		<form @submit.prevent="UpdateUser()">
			<div class = "bugLayout">

				<div class = "bugInfo">
					<h4>Naming:</h4>
					<hr>
					<div class = "bugForm">
						<div class = "bugFormInput">
							Email/Username:
						</div>
						<div class = "bugFormInput">
							<input placeholder="Email Address" v-model="user.username">
						</div>
						<div class = "bugFormInput">
							First Name:
						</div>
						<div class = "bugFormInput">
							<input placeholder="Real first name" v-model="user.firstName">
						</div>
						<div class = "bugFormInput">
							Last Name:
						</div>
						<div class = "bugFormInput">
							<input placeholder="Real last name" v-model="user.lastName">
						</div>
						<div class = "bugFormInput">
							Alias:
						</div>
						<div class = "bugFormInput">
							<input placeholder="Name to appear in comments" v-model="user.alias">
						</div>
					</div>
				</div>

				<div class = "bugInfo">
					<h4>Contact Info:</h4>
					<hr>
					<div class = "bugForm">
						<div class = "bugFormInput">
							Address:
						</div>
						<div class = "bugFormInput">
							<input placeholder="Address" v-model="user.address">
						</div>
						<div class = "bugFormInput">
							Phone Number:
						</div>
						<div class = "bugFormInput">
							<input placeholder="Phone Number" v-model="user.phone">
						</div>
						<div class = "bugFormInput">
							Secondary Email:
						</div>
						<div class = "bugFormInput">
							<input placeholder="Secondary email" v-model="user.secondaryEmail">
						</div>
					</div>
				</div>

				<div class = "bugInfo"><button type="submit" type="button">Save Changes</button></div>
				</form>
				<div></div>
				<div class = "bugInfo"><p v-if="errorA" class="errorA">{{errorA}}</p></div>
				<div></div>

				<div class = "bugInfo">
				<h4>User Data:</h4>
				<hr>
					<div class = "bugForm">

						<div class = "bugFormInput">
							UserID:
						</div>
						<div class = "bugFormInputA">
							<i>{{user._id}}</i>
						</div>
						<div class = "bugFormInput">
							Permissions:
						</div>
						<div class = "bugFormInputA">
							<i v-for="permission in user.permissions">{{permission}}</i>
						</div>

					</div>
				</div>

				<div class = "bugInfo">
				<h4>Change Password:</h4>
				<hr>
				<form @submit.prevent="UpdatePassword()">
					<div class = "bugForm">

						<div class = "bugFormInput">
							Current Password:
						</div>
						<div class = "bugFormInput">
							<input placeholder="Current Password" type="password" v-model="oldPassword">
						</div>
						<div class = "bugFormInput">
							New Password:
						</div>
						<div class = "bugFormInput">
							<input placeholder="New Password" type="password" v-model="newPassword">
						</div>
						<div class = "bugFormInput">
							Confirm New Password:
						</div>
						<div class = "bugFormInput">
							<input placeholder="New Password" type="password" v-model="newPasswordRepeat">
						</div>
						<div class = "bugFormInput">
							Confirm Change Password:
						</div>
						<div class = "bugFormInputA">
							<button type="submit" type="button">Change Password</button> <p v-if="errorB" class="errorB">{{errorB}}</p>
						</div>
				
					</div>
				</div>

			</div>

	</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
  <script src="/javascript/navigationbar.js"></script>
  <script src="/javascript/userApp.js"></script>
</body>

</html>
